
*{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
header, nav,article, section,footer,aside{
	display: block; 
	
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
   
}
.container{
	width: device-width;
	margin: 0px;
	}

 
img{
  display: block;
  max-width: 100%;
  max-height:100%; 
  vertical-align: middle;
  margin-left: -1%;
  padding-top: 10px;
  padding-bottom: 20px;
  position: relative;
  align:center; 
  border-radius: 20px;
  border-bottom-right-radius: 28px;
  border-bottom-left-radius: 28px;
  }

  @media screen and (max-width: 480px)  {
   
  h2{
	font-size: 1.3em;
	font-weight: 600;
	margin-top: 2rem;
	margin-bottom: 1rem;
}}
h2{
	font-size: 1.3em;
	font-weight: 600;
}
h1{
	padding-top: 25px;
	padding-bottom: 1px;
	font-size: 1.5em;
	font-weight: 900;
}
.hi{
	color: white;
	background-color: #000000;
	font-size : 5.51em;
	font-weight: 600;
	font-family: sans-serif;
	text-transform: uppercase;
	padding-top: 30px;
	padding-bottom: 20px;
	text-align: center;
	letter-spacing: 7px;
	}
	@media screen and (max-width: 480px)  {
    .hi {
	  letter-spacing: 5px;
      font-size: 5em } }
.whats{
	color: white;
	background-color: #000000;
	text-transform:capitalize;
	font-size : 0.7em;
	font-weight: 400;
	font-family: sans-serif;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 1px;
	letter-spacing: 3px;
	line-height: 2em;
	
	}
.topNav ul{
	 
	max-width: 45rem; 
}

.topNav ul li{
	
	font-size : 1em;
	font-weight: 400;
	font-family: sans-serif;
	margin: 0em auto em auto;
	padding: 20px 1em 0px 1em;
	text-align: center;
	letter-spacing: 2px;
	
	
}
.topNav a {
	color: black;
	text-decoration: none;
	border-bottom: 1.2px dotted #000000;
}

.topNav a:hover{
	color: black;
	text-decoration: none;
	border-bottom: 5px solid #000000;
}
.topNav a:active{
	text-decoration: none;
	border-bottom: 1.5px solid #000000;
}
.topNav a:visited{
	color: black;
	text-decoration: none;
	border-bottom: 1.2px dotted #000000;
}
.streamIntro {
	text-align: -webkit-center;
	font-size: 2em;
	font-weight: 400;
	font-family: sans-serif;
	
	clear: both;
	text-align: center;
	padding-top: 20px;
	display: block; 
	clear: both;
	letter-spacing: 1px;}
	@media screen and (max-width: 480px)  {
    .streamIntro {
      padding-top: 25px;} }

.stream{
	text-align: left;
	clear: both;
	max-width: 40rem;
	margin-left: auto;
	margin-right: auto;
	line-height: 4rem;
	padding-left: 5px;
	padding-right: 5px;
  }

#streamPostDate {
	font-size: 0.6em;
	font-weight: 50;
	font-family: sans-serif;
	
	color: black;
	
	}
	
#streamPostTitle {
	padding-left: 5%;
	font-size: 1.3em;
	font-weight: 200;
	font-family: sans-serif;
	text-align: left;
	
	}
	
#streamPostTitle a{
	color: black;
	text-decoration: none;
	border-bottom: 1px dotted #000000;
	
}
#streamPostTitle a:hover{
	color: black;
	text-decoration: none;
	border-bottom: 5px solid #000000;
}
#streamPostTitle a:visited{
	color: black;
	border-bottom: 1px dotted #000000;
}

.postTitle{
	font-family: sans-serif;
	font-size: 3em;
	font-weight: 400;
	text-align: left;
	clear: both;
	max-width: 37rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-top: 20px;
}
.postMeta{
	font-family: sans-serif;
	font-size: 1em;
	font-weight: 200;
	text-align: left;
	clear: both;
	max-width: 37rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
}
#articleText{
	font-family: sans-serif;
	font-size: 1em;
	font-weight: 210;
	line-height: 1.8em;
	text-align: left;
	clear: both;
	max-width: 37rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  letter-spacing: 1px;
}

	#articleText li ol, li ul {
	  margin-bottom: 0; }
	  
	#articleText p {
	margin: 1rem 0; }
	
	#articleText ul, ol {
	margin: 0.5rem 0 0 0;
	}
	
	#articleText li {
	line-height: 1.75rem;
	margin: 0.5rem 0 0 0.7rem;
	list-style: disc; 
	
	}
	
	#articleText hr {
	border: 0;
	border-bottom: 1px dashed #000000; }
	
	#articleText .footnotes ol li {
	  line-height: 1.5rem; }
	

blockquote{
	
	border-left: 3px solid black;
	padding-left: 0.5em;
}
#articleText a{
	color: black;
	text-decoration: none;
	border-bottom: 1px dotted #000000;
	
}
#articleText a:hover{
	text-decoration: none;
	border-bottom: 3px solid #000000;
}
#articleText a:visited{
	color: black;
	border-bottom: 1px dotted #000000;
}
#permalinkSymbol{
	font-family: sans-serif;
	font-size: 1.5em;
	font-weight: 500;
	text-align: left;
	clear: both;
	max-width: 37rem;
  margin-left: auto;
  margin-right: auto;
	padding-left: 10px;
	
}
#permalinkSymbol a{
	color: black;
	text-decoration: none;
	border-bottom: 1px dashed #000000;
	
}
#permalinkSymbol a:hover{
	text-decoration: none;
	border-bottom: 3px solid #000000;
}
#permalinkSymbol a:visited{
	color: black;
	border-bottom: 1px dashed #000000;
}
@import
        "bigfoot-number";
       