<div id ="articleText">
	<br> 
	<p>The best way to reach me is either one of the following:</p>

<ul>
	<li>Twitter : <a href="https://twitter.com/hetuashara">@hetuashara</a></li>
	<li>Instagram : <a href="https://www.instagram.com/hetuashara/">@hetuashara</a></li>
	<li>Email : desk@hetus.net</li>
</ul>

<p>I am always open to further discuss about topics I have written about.<br/>Also, If you think I am an interesting guy and would like to chat with me, go ahead. Shoot an email about a random topic. I am always looking to discuss random topics. If you think I would be interested in something. Tweet me. Email me. Text me. Don’t hesitate. Just don&#39;t spam/troll me. I hate wasting time. </p>

<p>There is a 90% probability I will respond to you in less than 24 hours, 99.99% probability that I will respond within 1 week. If it has been longer than that and you haven&#39;t received a response, be assured I have heard you but decided to ignore you. </p>


</div>
