

<div id ="articleText">
	<br>
	<p>I use many things. Here are a few of them that I really like. All are the best bang for buck. </p>

<ol>
	<li><a href = "#h">Hardware</a> </li>
	<li><a href = "#ma">Mac Apps</a></li>
	<li><a href = "#be" >Browser Extensions</a></li>
	<li><a href = "#ia">iPhone Apps</a></li>
	<li><a href = "#ws">Web Services</a></li>
	<li><a href = "#mwb">My website’s backend</a></li>
</ol>

<h2><a name="h"></a>Hardware</h2>

<ul>
	<li>MacBook Pro mid 2010. Internals amped up to 8 GB RAM and 250 GB SSD    <a href="http://www.amazon.in/gp/product/B00OAJ412U/ref=as_li_tl?ie=UTF8&camp=3626&creative=24790&creativeASIN=B00OAJ412U&linkCode=as2&tag=hetusnet-21&linkId=3SJJPOAAVOFGLGEV">[Amazon]</a>    <a href="http://dl.flipkart.com/dl/samsung-840-evo-250-gb-desktop-internal-hard-drive-mz-7te250bw/p/itmdq33zykyyx7up?pid=IHDDQ33ZYKYYX7UP&affid=asharahet">[Flipkart] </a>.</li>
	<li>iPhone 5s space-grey 32 GB</li>
	<li>Seagate Backup Plus Slim 1TB Portable External Hard Drive    <a href="http://www.amazon.in/gp/product/B00GASLJK6/ref=as_li_tl?ie=UTF8&camp=3626&creative=24790&creativeASIN=B00GASLJK6&linkCode=as2&tag=hetusnet-21&linkId=UHS5WBBTP2HKVUVB">[Amazon]</a>    <a href="http://dl.flipkart.com/dl/seagate-backup-plus-slim-1-tb-external-hard-disk/p/itmdswy5zzg9myjv?pid=ACCDSWY49TJFFXHG&affid=asharahet">[Flipkart]</a></li>
	<li>Seagate Wireless Plus 1 TB External Hard Drive    <a href="http://www.amazon.in/gp/product/B00CD2D3DE/ref=as_li_tl?ie=UTF8&camp=3626&creative=24790&creativeASIN=B00CD2D3DE&linkCode=as2&tag=hetusnet-21&linkId=V5UR36ADFLEVFV5Y">[Amazon]</a>    <a href="http://dl.flipkart.com/dl/seagate-wireless-plus-1-tb-external-hard-drive/p/itmdmy8uvrbaghww?pid=ACCDMY8UVDH5TEHH&affid=asharahet">[Flipkart]</a></li> However prices of 2 TB version have drastically decreased.<a href="http://www.amazon.in/gp/product/B00LEBCC1Y/ref=as_li_tl?ie=UTF8&camp=3626&creative=24790&creativeASIN=B00LEBCC1Y&linkCode=as2&tag=hetusnet-21&linkId=CIJVQ6NK52LZ62DL">[Amazon]</a>    <a href="http://dl.flipkart.com/dl/seagate-2tb-wireless-plus-external-hard-drive-stcv2000300-2-tb-external-hard-drive/p/itmeyydjhp2fpkyy?pid=ACCEYYDJKWZ5GSXR&affid=asharahet">[Flipkart]</a>
	<li>Nikon D3300    <a href="http://www.amazon.in/gp/product/B00JM4WAPS/ref=as_li_tl?ie=UTF8&camp=3626&creative=24790&creativeASIN=B00JM4WAPS&linkCode=as2&tag=hetusnet-21&linkId=LKII6QL4M5DTJVE5">[Amazon]</a>    <a href="http://dl.flipkart.com/dl/nikon-d3300-dslr-camera/p/itmdsqgbwfpw8kqx?pid=CAMDSQGBWFPW8KQX&affid=asharahet">[Flipkart]</a> </li>
	<li>18-55 mm AF-S Nikkor 1:3.5-5.6 G II</li>
	<li>55-200 mm AF-S Nikkor 1:4-5.6 G II    <a href="http://www.amazon.in/gp/product/B000O161X0/ref=as_li_tl?ie=UTF8&camp=3626&creative=24790&creativeASIN=B000O161X0&linkCode=as2&tag=hetusnet-21&linkId=ZWIR2KOZFAXZBWB4">[Amazon]</a>    <a href="http://dl.flipkart.com/dl/nikon-af-s-dx-vr-zoom-nikkor-55-200-mm-f-4-5-6g-if-ed-lens/p/itmcx3sgrhsrgthz?pid=ACCCX3SGRHSRGTHZ&affid=asharahet">[Flipkart]</a></li>
	I bought the combo of 2 lenses and the camera body. Sometimes it is cheaper that way.    <a href="http://www.amazon.in/gp/product/B00JM4W76A/ref=as_li_tl?ie=UTF8&camp=3626&creative=24790&creativeASIN=B00JM4W76A&linkCode=as2&tag=hetusnet-21&linkId=QGRKHYVJPUAI4L3B">[Amazon]</a>    <a href="http://dl.flipkart.com/dl/nikon-d3300-af-s-18-55-mm-vr-kit-lens-ii-55-200-dslr-camera/p/itmdu5x4gsga6xzm?pid=CAMDU5X4GSGA6XZM&affid=asharahet">[Flipkart]</a>
	<li>Lowepro DSLR Video Fastpack 350 AW    <a href="http://www.amazon.in/gp/product/B005MYAHJ8/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=3626&creative=24790&creativeASIN=B005MYAHJ8&linkCode=as2&tag=hetusnet-21&linkId=Z4DPV4TP2A3TYEA6">[Amazon]</a></li>

	<li>32 GB Sandisk 60 MBPS class 10 memory card    <a href="http://www.amazon.in/gp/product/B00MBFPT44/ref=as_li_tl?ie=UTF8&camp=3626&creative=24790&creativeASIN=B00MBFPT44&linkCode=as2&tag=hetusnet-21&linkId=TERZ7GRFOACF7A4N">[Amazon]</a>    <a href="http://dl.flipkart.com/dl/sandisk-extreme-sdhc-32-gb-class-10/p/itme26vywhquc3ns?pid=ACCE26VYYMFD7SGZ&affid=asharahet">[Flipkart]</a></li>
	
	<li>8 GB Sandisk 30 MBPS class 10 memory card as a back-up option for the camera    <a href="http://www.amazon.in/gp/product/B00812K4V4/ref=as_li_tl?ie=UTF8&camp=3626&creative=24790&creativeASIN=B00812K4V4&linkCode=as2&tag=hetusnet-21&linkId=76JU5JGOEF4Y56LP">[Amazon]</a>    <a href="http://dl.flipkart.com/dl/sandisk-sdhc-8-gb-class-10/p/itmdaw7eduvzcj2m?pid=ACCDAW7EVGHYRYYS&affid=asharahet">[Flipkart]</a></li>
	<li>Photron Stedy 450 Tripod for camera    <a href="http://www.amazon.in/gp/product/B00DM7XU96/ref=as_li_tl?ie=UTF8&camp=3626&creative=24790&creativeASIN=B00DM7XU96&linkCode=as2&tag=hetusnet-21&linkId=3JLHSH6AYJCINF4P">[Amazon]</a>    <a href="http://dl.flipkart.com/dl/photron-stedy-450/p/itmeyfpsxwhuzhmc?pid=ACCDHQ8N6DGBYGKZ&affid=asharahet">[Flipkart]</a></li>
	<li>2 batteries for camera    <a href="http://www.amazon.in/gp/product/B00FXYTLIK/ref=as_li_tl?ie=UTF8&camp=3626&creative=24790&creativeASIN=B00FXYTLIK&linkCode=as2&tag=hetusnet-21&linkId=EFHBYMIVZRGBVJR6">[Amazon]</a>    <a href="http://dl.flipkart.com/dl/nikon-en-el14a/p/itmdy5hqtn2ypgpf?pid=ACCDY5HZNNWCHUW8&affid=asharahet">[Flipkart]</a></li>
	<li>Lenspen NLP-1 Lens Cleaner    <a href="http://www.amazon.in/gp/product/B007G5NNOW/ref=as_li_tl?ie=UTF8&camp=3626&creative=24790&creativeASIN=B007G5NNOW&linkCode=as2&tag=hetusnet-21&linkId=F5CFGG2OPZMHKJS5">[Amazon]</a>    <a href="http://dl.flipkart.com/dl/lenspen-nlp-1-lens-cleaner/p/itmd7ah7jhwg5pyp?pid=ACCD7AHFD3PJAH3F&affid=asharahet">[Flipkart]</a></li>
	<li>Scratchgard Screen Protector    <a href="http://www.amazon.in/gp/product/B00J1CSW3U/ref=as_li_tl?ie=UTF8&camp=3626&creative=24790&creativeASIN=B00J1CSW3U&linkCode=as2&tag=hetusnet-21&linkId=73ZFC4BDNPE7P3HZ">[Amazon]</a>    <a href="http://dl.flipkart.com/dl/scratchgard-sg-nikon-d3300-ultra-clear-screen-guard/p/itme2d8ygbzrpxr2?pid=ACCE2D8YCHE25FQG&affid=asharahet">[Flipkart]</a></li>
	<li>ML-L3 Camera Remote    <a href="http://www.amazon.in/gp/product/B00J5AWGG2/ref=as_li_tl?ie=UTF8&camp=3626&creative=24790&creativeASIN=B00J5AWGG2&linkCode=as2&tag=hetusnet-21&linkId=GDCIGH47BFFMWLZS">[Amazon]</a>    <a href="http://dl.flipkart.com/dl/nikon-ml-l3-camera-remote-control/p/itmd2h57fzpqah2k?pid=ACCD2H57TFFW7P2V&affid=asharahet">[Flipkart]</a></li>
	<li>a whiteboard, black, red, and green pens.</li>
</ul>


<h2><a name="ma"></a>Mac Apps</h2>

<ul>
	<li>TextExpander - It expands typed pre-set abbreviations into bigger chunks of text. It works everywhere. EVERYWHERE. It really amazes me how people can live type without this utility. </li>
	<li>Keyboard Maestro - This is the poster child of why mac is awesome. You need to check out the linked product page to explore the deep ocean that this app is.</li>
	<li>Ulysses - Best long form writing app.</li>
	<li>Nvalt - Best note taking app.</li>
	<li>iStatus Menus - A menubar utility that shows you various stats. I use the network, CPU and memory monitors. Also, the date display as it has an inbuilt world clock.</li>
	<li>Simplify - A menubar utility that can control iTunes, Spotify and Radio. </li>
	<li>Tweetbot - A twitter client.</li>
	<li>Sublime Text - My preferred code editor. </li>
	<li>Airmail - The best mail client for mac. Believe me when I say best. </li>
	<li>iTerm - A terminal alternative. Because I don&#39;t like original terminal’s looks.</li>
	<li>Path Finder - A feature rich Finder alternative. If nothing else, the address bar at the top makes the app worth it.</li>
	<li>Omnifocus - Everything that needs to be done goes here.</li>
	<li>iSmartPhoto - After using tens of image viewers I have settled on this one. It is the best of the lot.</li>
	<li>Moom - A nifty little utility that makes resizing windows hassle free.</li>
	<li>Pushbullet - It helps me send stuff between mac and iphone.</li>
	<li>Readkit - A powerhouse for RSS. I also read my Pocket saves there. </li>
	<li>Speed Download - Now discontinued download manager app. I ahve tried all the current ones and this is still the fastest download accelerator.</li>
	<li>MediaHuman Youtube Downloader - I hate waiting for 1080p videos to buffer on Youtube. I download videos via this app and watch them at my own leisurely time.</li>
	<li>EiskaltDC ++ - My college has DC++. Yay. This is the only DC++ app which doesn’t destroy the fans on my mac when used for extensive periods of time.</li>
	<li>Spotify - I really like the interface of the mac app. </li>
	<li>iTunes - If you ask me, iTunes doesn’t deserve all the criticism it is getting. I find the library of music quite easy to manage and use.</li>
	<li>Safari - 90% of browsing happens with this browser.</li>
	<li>Chrome - FLASH.</li>
	<li>Day one - A journaling app that you will actually use and like doing it. </li>
	<li>BetterTouchTool - Unleash the full potential of your mac’s trackpad.</li>
	<li>1password - Because no one wants to remember all the passwords.</li>
	<li>Fantastical - Best calendar app.</li>
	<li>Yoink - A nifty app that helps better drag and drop.</li>
	<li>gfxCardstatus - My mac has a faulty NVDIA Geforce card. It crashes my mac after certain time. The only solution is to use intel card. This app makes my mac force use the functioning intel graphics card.</li>
	<li>Caffeine - Prevents mac from going to sleep.</li>
	<li>Popclip - Select text and this app pops up. Then do stuff with that text. </li>
	<li>Copyless - Best clipboard manager.</li>
	<li>Adobe Premiere - Photo editing</li>
	<li>Adobe Lightroom - Video editing</li>
	<li>Audacity - Audio Editing</li>
	<li>Dash - Offline reference for syntax of programming languages.</li>
	<li>VLC - Playing videos.</li>
	<li>Bartender - Keeps the menubar clean.</li>
</ul>

<h2><a name="be"></a>Browser Extensions of Safari</h2>

<ul>
	<li>Speed Download - It sends all download links to the app. Also creates an often used contextual menu.</li>
	<li><a href="http://calum.me/">RSS menu</a> - For some weird reason, some websites make it extremely hard to find the link for RSS feed. This extension comes in handy at that time.</li>
	<li><a href="https://agilebits.com/onepassword">1password</a> - Login to every website is one shortcut away.</li>
	<li><a href="https://www.ghostery.com/">Ghostery</a> - Blocks annoying social media and advertisement-trackers.</li>
	<li><a href="https://disconnect.me/">Disconnect</a> - Same as Ghostery. Double protection. FTW.</li>
	<li><a href="https://adblockplus.org/">Adblock Plus</a> - Blocks all kinds of ads. If you like you can also select specific elements of a website to be never shown. </li>
	<li><a href="https://code.google.com/p/mailto-chromeextension/">Mailto</a> - You can specify what to do when a email link is clicked. Safari opens a new mail box in the default mail app. Extremely frustrating.</li>
	<li><a href="http://brettterpstra.com/2010/06/18/tablinks-safari-extension/">Tablinks</a> - Easy way to get Titles and URLs of all open tabs.</li>
	<li><a href="https://github.com/YePpHa/YouTubeCenter/wiki">Youtube center</a> - Customises Youtube.</li>
	<li><a href="http://canisbos.com/directlinks">DirectLinks</a> - Shows clean tracking free links in browser status bar at the bottom.</li>
	<li><a href="http://canisbos.com/linkthing">LinkThing</a> - Enhances control over how links are opened.</li>
	<li><a href="http://canisbos.com/customreader">CustomReader</a> - Helps customise Safari’s reader view.</li>
	<li><a href="https://dl.dropboxusercontent.com/u/8247646/sessions/index.html">Sessions</a> - Extremely helpful to save those research sessions.</li>
	<li><a href="http://nomoreitunes.einserver.de">No more iTunes</a> - Safari opens iTunes/Mac Appstore when visiting app pages. This saves you from annoyance. </li>
	<li><a href="http://www.chipwreck.de/blog/software/safari-pinboard-extension/">Pinbar</a> - An extension for using Pinboard better.</li>
	<li><a href="https://getpocket.com/">Pocket</a> - An extension for saving pages to Pinboard in a faster way.</li>
	<li><a href="http://canisbos.com/quickstyle">QuickStyle</a> - Helps add custom CSS.</li>
	<li><a href="http://www.fontface.ninja">Font Face Ninja</a> - Because sometimes you need to know the name of the font you are viewing.</li>
	<li><a href="https://www.pushbullet.com">Pushbullet</a> - Sends and receives links from iphone.</li>
</ul>

<h2><a name="ia"></a>iPhone Apps</h2>

<ul>
	<li>Overcast - Smart speed in this app is the biggest thing to happen to podcast for me. </li>
	<li>Tweetbot - The best twitter client for iPhone.</li>
	<li>Dispatch - A beautful email app.</li>
	<li>Pushpin - A pinboard client.</li>
	<li>Omnifocus - Works perfectly as a companion to the mac counterpart.</li>
	<li>Fiery feeds - I have tried all the RSS readers and I find this the best to fit my needs.</li>
	<li>Day one - A journaling app that you will actually use and like doing it.</li>
	<li>Editorial - A powerhouse text editor. You will be amazed by the power of python this iphone app utilises.</li>
	<li>Launch Center Pro - After ios 8, this app now is used only to open links in clipboard.</li>
	<li>Pocket - A beautiful iPhone app for reading long form articles.</li>
	<li>Drafts - Almost all my small tid-bits go in here.</li>
	<li>Ecoute - A music player that supports play next and add to queue. The default music app needs to add this functionality.</li>
	<li>Soundhound - Identifies songs playing in background.</li>
	<li>Pushbullet - Sends links to my mac.</li>
	<li>Quip - An extremely well done collaborative environment with blazingly fast sync.</li>
	<li>Calc - iPhone calculator of my choice.</li>
	<li>Amount - Unit converter I use</li>
	<li>Globo - World clock I use.</li>
	<li>Withings - Uses iPhone 5s M5 chip’s data to present the data in a beautiful way.</li>
	<li>Wordweb - The best advertisement-free dictionary.</li>
</ul>

<h2><a name="ws"></a>Web Services</h2>

<ul>
	<li><a href="https://pinboard.in/" title="Spotify">Spotify</a> - Ideal for checking out new artists and albums.</li>
	<li><a href="https://getpocket.com/" title="Pocket">Pocket</a> - I have tried instapaper and readability on and off but always come back to pocket.</li>
	<li><a href="https://pinboard.in/" title="Pinboard">Pinboard</a> - It works as a reservoir as well as a stream of links for me. Almost everything with a URL that interests me goes here. It is a paid service. Currently the subscription model has been changed to a per year basis but I purchased an account before the switch. </li>
	<li><a href="https://www.dropbox.com/" title="Dropbox">Dropbox</a> - I use it exclusively to backup only my text documents.</li>
	<li><a href="https://evernote.com/" title="Evernote">Evernote</a> - It is great to collect, store and archive stuff from around the web.</li>
	<li>icloud - It syncs my calendar and tabs between iphone and mac. Nothing else.</li>
	<li><a href="http://feedly.com/i/welcome" title="Feedly RSS Service">Feedly</a> - This is the only free option available right now in the market for using RSS. And it is pretty good.</li>
	<li>Youtube - Surpringly high amount of usage - tutorials, entertainment, songs, etcetra.</li>
	<li>Skype/Google Hangouts - For audio/video chat. </li>
</ul>



<h2><a name="mwb"></a>Website Backend</h2>

<p>This website was designed and coded by me using the excellent mac app <a href="https://panic.com/coda/" title="Coda">Coda</a>. The site is generated using <a href="http://jekyllrb.com/">Jekyll</a> and is hosted free on Github. The domain is registered at godaddy. I use Mailchimp to send weekly posts digest to <a href="http://eepurl.com/bel3_P">email subscribers</a>.</p>
<p> I don&#39;t like site-comments so that won’t be happening here. If you would like to discuss something with me you can contact me directly.<a href="http://hetus.net/contact.html"> Just click here</a>.</p>


</div>