
<div id ="articleText">
	<br>
	<p>I use many things. Here are a few of the most used ones that I like. All are the best bang for buck.<a href="#fn:1" id="fnref:1" title="see footnote" class="footnote">[1]</a> </p>
<div class="footnote">
<ol>
<li id="fn:1">
<p>This list keeps updating as my needs change and/or I find better options.</p>
</li>
</ol>

<ol>
	<li><a href = "#h">Hardware</a> </li>
	<li><a href = "#ma">Mac Apps</a></li>
	<li><a href = "#be" >Browser Extensions</a></li>
	<li><a href = "#ipa">iPad Pro 9.7 Apps</a></li>
	<li><a href = "#ia">iPhone Apps</a></li>
	<li><a href = "#ws">Web Services</a></li>
	<li><a href = "#mwb">My website’s backend</a></li>
</ol>

<h1><a name="h"></a>Hardware</h1>

<ul>
	<li>MacBook Pro mid 2010. Internals amped up to <ul><li> 8 GB RAM </li> <li> 250 GB SSD</li></ul></li>
	<li>iPad Pro 9.7 WiFi Space Grey 32GB and Apple Pencil</li>
	<li>iPhone 5s space-grey 32 GB</li>
	<li>Seagate Backup Plus Slim 1TB Portable External Hard Drive</li>
	<li>Seagate Wireless Plus 1 TB External Hard Drive   </li>
	<li>Nikon D3300 </li>
	<li>18-55 mm AF-S Nikkor 1:3.5-5.6 G II</li>
	<li>55-200 mm AF-S Nikkor 1:4-5.6 G II </li>
	<li>Lowepro DSLR Video Fastpack 350 AW </li>

	<li>32 GB Sandisk 60 MBPS class 10 memory card</li>
	
	<li>8 GB Sandisk 30 MBPS class 10 memory card as a back-up option for the camera  </li>
	
	<li>2 batteries for camera </li>
	<li>Lenspen NLP-1 Lens Cleaner </li>
	<li>Scratchgard Screen Protector  </li>
	<li>ML-L3 Camera Remote   </li>
	<li>A UV filter for each lens  </li>
	
</ul>


<h1><a name="ma"></a>Mac Apps</h1>

<ul>
	<li><a href="http://smilesoftware.com/TextExpander/">TextExpander</a> - It expands typed pre-set abbreviations into bigger chunks of text. It works everywhere. EVERYWHERE. It really amazes me how people can type without something like this utility. </li>
	<li><a href="http://www.keyboardmaestro.com/">Keyboard Maestro</a> - This is the poster child of why mac is awesome. You need to check out the linked product page to explore the deep ocean that this app is.</li>
	<li><a href="https://geo.itunes.apple.com/en/app/byword/id420212497?mt=12&at=11lSmt&pt=1l1022021">Byword</a> - For the times when I want to focus on only one markdown article at a time.</li>
	<li><a href="https://coderunnerapp.com">CodeRunner</a> - A no frills, inbuilt run environment code editor.
	<li><a href="http://bjango.com/mac/istatmenus/">iStat Menus</a> - A menubar utility that shows you various stats. I use the network, CPU and memory monitors. Also, the date display as it has an inbuilt world clock.</li>
	<li><a href="https://itunes.apple.com/us/app/simplify-for-spotify-rdio/id448003584?mt=12&at=11lSmt&ct=">Simplify</a> - A menubar utility that can control iTunes, Spotify and Radio. </li>
	<li><a href="https://itunes.apple.com/in/app/tweetbot-for-twitter/id557168941?mt=12&uo=4&at=11lSmt&ct=">Tweetbot</a> - A twitter client.</li>
	<li><a href="http://www.sublimetext.com/">Sublime Text</a> - My preferred code editor. </li>
	<li><a href="https://itunes.apple.com/us/app/airmail-2.0/id918858936?mt=12&at=11lSmt&ct=">Airmail</a> - The best mail client for mac. Believe me when I say best. </li>
	<li><a href="https://itunes.apple.com/us/app/omnifocus-2/id867299399?mt=12&at=11lSmt&ct=">Omnifocus</a> - Everything that needs to be done goes here.</li>
	<li><a href="https://geo.itunes.apple.com/us/app/day-one/id1055511498?mt=12&at=11lSmt&pt=1l1022021">Day one</a> - A beautiful journaling app.
	<li><a href="https://itunes.apple.com/us/app/ismartphoto/id940107333?mt=12&at=11lSmt&ct=">iSmartPhoto</a> - After using tens of image viewers I have settled on this one. It is the best of the lot.</li>
	<li><a href="https://itunes.apple.com/us/app/moom/id419330170?mt=12&at=11lSmt&ct=">Moom</a> - A nifty little utility that makes resizing windows hassle free.</li>
	<li><a href="https://geo.itunes.apple.com/us/app/reeder-3/id880001334?mt=12&at=11lSmt&pt=1l1022021">Reeder</a> - A beautifully designed RSS reader.</li>
	<li>Speed Download - Now discontinued download manager app. I have tried all the current ones and this is still the fastest download accelerator.</li>
	<li><a href="http://software.charliemonroe.net/downie.php">Downie</a> - I hate waiting for 1080p videos to buffer on Youtube. I download videos via this app and watch them at my own leisurely time.</li>
	<li><a href="https://www.spotify.com/">Spotify</a> - I really like the interface of the mac app. </li>
	<li><a href="https://www.apple.com/in/itunes/">iTunes</a> - If you ask me, iTunes doesn’t deserve all the criticism it is getting. I find the library of music quite easy to manage and use.And the cheap ₹120 per month Apple music subscription is sweet.</li>
	<li><a href="https://www.apple.com/in/safari/">Safari</a> - 90% of browsing happens with this browser.</li>
	<li><a href="http://www.google.com/chrome/">Chrome</a> - FLASH.</li>
	<li><a href="https://itunes.apple.com/us/app/day-one/id422304217?mt=12&at=11lSmt&ct=">Day one</a> - A journaling app that you will actually use and like doing it. </li>
	<li><a href="http://www.bettertouchtool.net/">BetterTouchTool</a> - Unleash the full potential of your mac’s trackpad.</li>
	<li><a href="https://itunes.apple.com/us/app/1password-password-manager/id443987910?mt=12&at=11lSmt&ct=">1password</a> - Because no one wants to remember all the passwords.</li>
	<li><a href="https://itunes.apple.com/us/app/fantastical-calendar-reminders/id435003921?mt=12&at=11lSmt&ct=">Fantastical</a> - Best calendar app.</li>
	<li><a href="https://geo.itunes.apple.com/us/app/offline-pages-pro/id1061324329?at=11lSmt&ls=1&pt=1l1022021&mt=12">Offline Pages Pro</a> - For archiving websites and webpages.
	<li><a href="http://fetching.io">Fetching.io</a> - Records and offers full text search of my browsing history. And also saves webpages I visit.
	<li><a href="https://itunes.apple.com/us/app/yoink/id457622435?mt=12&at=11lSmt&ct=">Yoink</a> - A nifty app that helps better drag and drop.</li>
	<li><a href="https://gfx.io/">gfxCardstatus</a> - My mac has a faulty NVDIA Geforce card. It crashes my mac after certain time. The only solution is to use intel card. This app makes my mac force use the functioning intel graphics card.</li>
	<li><a href="https://itunes.apple.com/us/app/popclip/id445189367?mt=12&at=11lSmt&ct=">Popclip</a> - Select text and this app pops up. Then do stuff with that text. </li>
	<li><a href="https://itunes.apple.com/us/app/copyless/id416439303?mt=12&at=11lSmt&ct=">Copyless</a> - Best clipboard manager.</li>
	<li><a href="http://www.adobe.com/in/products/premiere.html">Adobe Premiere</a> - Video editing</li>
	<li><a href="http://www.adobe.com/in/products/photoshop-lightroom.html">Adobe Lightroom</a> - Photo editing</li>
	<li><a href="http://audacity.sourceforge.net/">Audacity</a> - Audio Editing</li>
	<li><a href="https://itunes.apple.com/us/app/dash-docs-snippets/id458034879?mt=12&at=11lSmt&ct=">Dash</a> - Offline reference for syntax of programming languages.</li>
	<li><a href="http://www.videolan.org/vlc/download-macosx.html">VLC</a> - Playing videos.</li>
	<li><a href="http://www.macbartender.com">Bartender</a> - Keeps the menubar clean.</li>
</ul>

<h1><a name="be"></a>Browser Extensions of Safari</h1>

<ul>
	

	<li><a href="https://agilebits.com/onepassword">1password</a> - Login to every website is one keyboard shortcut away.</li>

	<li><a href="https://getadblock.com">Adblock</a> - Blocks all kinds of ads. If you like you can also select specific elements of a website to be never shown. </li>
	<li><a href="https://code.google.com/p/mailto-chromeextension/">Mailto</a> - You can specify what to do when a email link is clicked. Safari opens a new mail in the default mail app. That is extremely frustrating.</li>
	<li><a href="http://brettterpstra.com/2010/06/18/tablinks-safari-extension/">Tablinks</a> - Easy way to get Titles and URLs of all open tabs.</li>
	<li><a href="https://github.com/YePpHa/YouTubeCenter/wiki">Youtube center</a> - Customises Youtube.</li>
	<li><a href="http://canisbos.com/directlinks">DirectLinks</a> - Shows clean tracking free links in browser status bar at the bottom.</li>
	<li><a href="http://canisbos.com/linkthing">LinkThing</a> - Enhances control over how links are opened.</li>
	<li><a href="http://canisbos.com/customreader">CustomReader</a> - Helps customise Safari’s reader view.</li>
	<li><a href="http://nomoreitunes.einserver.de">No more iTunes</a> - Safari opens iTunes/Mac Appstore when visiting iTunes/Appstore pages. This saves you from that annoyance. </li>
	<li><a href="https://getpocket.com/">Pocket</a> - An extension for saving pages to Pocket in a faster way. Adds a contextual menu option that makes it super fast.</li>
		
	<li><a href="https://www.pushbullet.com">Reddit Enhancement Suite</a> - Can do lots of tweaks to reddit. But by far the best one, for me, is hide child comments.</li>
	<li><a href="http://fetching.io"> Fetching.io</a> - Helps the mac app function.</li>
	<li><a href="https://www.grammarly.com">Grammarly</a> - Helps catch those silly mistakes while typing fast, and also those "oh I didn't realise that was a relative clause" type of mistakes.
</ul>


<h1><a name="ipa"></a>iPad Pro 9.7 Apps</h1>

<ul>
<li><a href="https://geo.itunes.apple.com/in/app/goodnotes-4-notes-pdf/id778658393?mt=8&amp;at=11lSmt&amp;pt=1l1022021">Goodnotes</a> - My preferred note-taking app. I have tried notability, and a few others but I find this one to my liking. The features that made it stick were - handwriting recognition(you can search your handwritten notes, technology!), a page can be changed in a notebook, and lots of tiny ones here and there.</li>
<li><a href="https://geo.itunes.apple.com/in/app/pdf-expert-5-fill-forms-annotate/id743974925?mt=8&amp;at=11lSmt&amp;pt=1l1022021">PDF Expert</a> - For reading pdfs and annotating them(multiple pens). It also has a great feature where you can add pages in between for notes.<br/>
 - <a href="https://geo.itunes.apple.com/in/app/liquid-notes/id823574332?mt=8&amp;at=11lSmt&amp;pt=1l1022021">Liquid Notes</a> - For those times when I need to refer to multiple parts of the same PDF at the same time.</li>
<li><a href="https://geo.itunes.apple.com/in/app/airmail-your-mail-with-you/id993160329?mt=8&amp;at=11lSmt&amp;pt=1l1022021">Airmail</a> - Probably the most researched field of apps - mail. This is the most pro featured app I found that has such a beautiful interace and smooth user experience.</li>
<li><a href="https://geo.itunes.apple.com/in/app/day-one-2-diary-+-journal/id1044867788?mt=8&amp;at=11lSmt&amp;pt=1l1022021">Day one</a> - I have been a day one user since years. I hesitated when they made me switch to their proprietary sync service but, meh, I don&#8217;t input <em>that</em> sensitive text and photos in there anyway. Also, they just promised an end to end encrypted sync on their blog.</li>
<li><a href="https://geo.itunes.apple.com/us/app/1writer-note-taking-writing/id680469088?mt=8&amp;at=11lSmt&amp;pt=1l1022021">1Writer</a> - My dropbox text writer.</li>
<li><a href="https://geo.itunes.apple.com/in/app/tweetbot-4-for-twitter/id1018355599?mt=8&amp;at=11lSmt&amp;pt=1l1022021">Tweetbot</a></li>
<li><a href="https://geo.itunes.apple.com/in/app/narwhal-for-reddit/id845422455?mt=8&amp;at=11lSmt&amp;pt=1l1022021">Narhwal</a> - I like the two column view. And when the need arises there is a quick button to go full screen.</li>
<li><a href="https://geo.itunes.apple.com/in/app/calcbot-intelligent-calculator/id376694347?mt=8&amp;at=11lSmt&amp;pt=1l1022021">Calcbot</a></li>
<li><a href="https://geo.itunes.apple.com/in/app/pocket-save-articles-videos/id309601447?mt=8&amp;at=11lSmt&amp;pt=1l1022021">Pocket</a> - The way it handles link saving while being offline is one of the main reasons I have been using pocket since years.</li>
<li><a href="https://geo.itunes.apple.com/us/app/pinner-for-pinboard/id591613202?mt=8&amp;at=11lSmt&amp;pt=1l1022021">Pinner</a> - For Pinboard.</li>
<li><a href="https://geo.itunes.apple.com/us/app/fiery-feeds-client-for-feedly/id692742195?mt=8&amp;at=11lSmt&amp;pt=1l1022021">Fiery Feeds</a> - RSS is still the main way I consume blogs. And fiery feeds is the best. The amount of appearance customisation is too good. And that horizontal scroll is icing on the cake.</li>
<li><a href="https://geo.itunes.apple.com/us/app/hyphen-ebook-reader-for-epub/id1024204679?mt=8&amp;at=11lSmt&amp;pt=1l1022021">Hyphen</a> - All the epubs go in here. The main criteria for all my reading apps is the amount of customisation it offers. Hyphen is the king of all. It even has CSS options if you are not happy with the sliders and you want the full monty.</li>
<li><a href="https://geo.itunes.apple.com/in/app/chunky-comic-reader/id663567628?mt=8&amp;at=11lSmt&amp;pt=1l1022021">Chunky</a> - Comic books and magazines.</li>
<li><a href="https://geo.itunes.apple.com/in/app/protube-for-youtube/id931201696?mt=8&amp;at=11lSmt&amp;pt=1l1022021">ProTube</a> - Setting up default quality is a must, especially when you have this good a screen.</li>
<li><a href="https://geo.itunes.apple.com/in/app/cardflow-index-cards-flashcards/id1020780942?mt=8&amp;at=11lSmt&amp;pt=1l1022021">Cardflow</a> - The best app that supports Apple Pencil hand-written index cards.</li>
<li><a href="https://geo.itunes.apple.com/in/app/audio-dictionary-wordweb-international/id309527746?mt=8&amp;at=11lSmt&amp;pt=1l1022021">Audio Dictionary</a></li>
<li><a href="https://geo.itunes.apple.com/in/app/procreate-sketch-paint-create./id425073498?mt=8&amp;at=11lSmt&amp;pt=1l1022021">Procreate</a></li>
<li><a href="https://geo.itunes.apple.com/us/app/tayasui-sketches-pro/id671867510?mt=8&amp;at=11lSmt&amp;pt=1l1022021">Tayasui Sketches Pro</a></li>
<li><a href="https://geo.itunes.apple.com/in/app/awesome-screenshot-for-safari/id918780145?mt=8&amp;at=11lSmt&amp;pt=1l1022021">Awesome screenshot</a> - The best app for using Apple Pencil to markup photos.</li>
<li><a href="https://itunes.apple.com/in/app/documents-5-fast-pdf-reader/id364901807?mt=8">Documents</a> - file manager</li>
<li><a href="https://geo.itunes.apple.com/us/app/best-unit-converter-for-iphone/id727632233?mt=8&amp;at=11lSmt&amp;pt=1l1022021">UnitConverter</a> - the best free one.</li>
<li><a href="[https://geo.itunes.apple.com/in/app/uc-browser+-for-ipad/id724100507?mt=8&amp;at=11lSmt&amp;pt=1l1022021]">UC+ Browser for ipad</a> - The most reliable browser for downloading files. Although you need to keep the browser on screen(active) to keep the download speeds high. (ios thing? don&#8217;t know).</li>
<li><a href="https://geo.itunes.apple.com/in/app/pcalc-lite-best-free-calculator/id300311831?mt=8&amp;at=11lSmt&amp;pt=1l1022021">Pcalc lite</a></li>
<li><a href="https://geo.itunes.apple.com/in/app/shazam-discover-music-artists/id284993459?mt=8&amp;at=11lSmt&amp;pt=1l1022021">Shazam</a></li>
<li><a href="https://itunes.apple.com/in/app/mypics-powerful-photo-viewer/id504793067?mt=8">MyPics</a> - For creating photo and video albums separate from the stock photos app.</li>
<li><a href="https://geo.itunes.apple.com/in/app/vlc-for-mobile/id650377962?mt=8&amp;at=11lSmt&amp;pt=1l1022021">VLC</a></li>
<li><a href="https://geo.itunes.apple.com/in/app/nuzzel-news-from-friends-influencers/id692285770?mt=8&amp;at=11lSmt&amp;pt=1l1022021">Nuzzel</a></li>
<li><a href="https://geo.itunes.apple.com/in/app/vsco/id588013838?mt=8&amp;at=11lSmt&amp;pt=1l1022021">Vsco</a></li>
<li><a href="https://geo.itunes.apple.com/in/app/myscript-stylus-handwriting/id931394264?mt=8&amp;at=11lSmt&amp;pt=1l1022021">Myscript Stylus</a> - Instead of typing you can use Apple Pencil to input text by handwriting. Novel and accurate but I don&#8217;t use it as typing is way faster a way to input text.</li>
<li><a href="https://geo.itunes.apple.com/pl/app/this-by-tinrocket/id1067596534?ign-mpt=uo%253D4&amp;at=11lSmt&amp;pt=1l1022021&amp;mt=8">This</a> - a simple app to point out stuff in pictures.</li>
<li><a href="https://geo.itunes.apple.com/in/app/offline-pages-pro-offline/id391462107?mt=8&amp;at=11lSmt&amp;pt=1l1022021">Offline Pages Pro</a>- For archiving webpages</li>
<li><a href="https://geo.itunes.apple.com/in/app/offline-pages-pro-offline/id391462107?mt=8&amp;at=11lSmt&amp;pt=1l1022021">Purify</a> - ad, tracker blocker.</li>
<li><a href="https://geo.itunes.apple.com/in/app/quip-docs-chat-spreadsheets/id647922896?mt=8&amp;at=11lSmt&amp;pt=1l1022021">Quip</a> - One of the best apps for projects that need multiple people on multiple platforms to work on same documents, spreadsheets, etc. </li>

</ul>
<h1><a name="ia"></a>iPhone Apps</h1>
In addition to the iphone counterparts of the ipad apps, I use the following apps specifically on my iphone.
<ul>
	<li><a href="https://itunes.apple.com/us/app/overcast-podcast-player/id888422857?mt=8&at=11lSmt&ct=">Overcast</a> - Smart speed in this app is the biggest thing to happen to podcast for me. </li>
	
	<li><a href="https://itunes.apple.com/us/app/omnifocus-2-for-iphone/id690305341?mt=8&at=11lSmt&ct=">Omnifocus</a> - Works perfectly as a companion to the mac counterpart.</li>
	<li><a href="https://geo.itunes.apple.com/us/app/unread-rss-news-reader/id911364254?mt=8&at=11lSmt&pt=1l1022021">Unread</a> - I have tried all the RSS readers and I find its design the best fit for my small iphone screen.</li>
		
		<li><a href="https://itunes.apple.com/us/app/amount-unit-currency-converter/id560750783?mt=8&at=11lSmt&ct=">Amount</a> - Unit converter I use</li>
	<li><a href="https://itunes.apple.com/us/app/globo-world-clock-and-weather/id818329067?mt=8&at=11lSmt&ct=">Globo</a> - World clock I use.</li>

</ul>

<h1><a name="ws"></a>Web Services</h1>

<ul>
	<li><a href="https://spotify.com/" title="Spotify">Spotify</a> - Ideal for checking out new artists and albums.</li>
	<li><a href="https://getpocket.com/" title="Pocket">Pocket</a> - I have tried instapaper and readability on and off but always come back to pocket.</li>
	<li><a href="https://pinboard.in/" title="Pinboard">Pinboard</a> - It works as a reservoir as well as a stream of links for me. Almost everything with a URL that interests me goes here. It is a paid service. Currently the subscription model has been changed to a per year basis but I purchased an account before the switch. </li>
	<li><a href="https://www.dropbox.com/" title="Dropbox">Dropbox</a> - I use it exclusively to backup only my text documents.</li>
		<li>icloud - I use it to sync my calendar, contacts, keyboard shortcuts, and tabs between iphone and mac.</li>
	<li><a href="http://feedly.com/i/welcome" title="Feedly RSS Service">Feedly</a> - This is the only free option available right now in the market for using RSS. And it is pretty good.</li>
	<li>Telegram - For text messaging.</li>
	<li>Youtube - Surpringly high amount of usage - tutorials, entertainment, songs, etcetra.</li>
	<li>Apple Music</li>
	
</ul>



<h1><a name="mwb"></a>Website Backend</h1>

<p>This website is designed, coded, produced and maintained by me. The site is generated using <a href="http://jekyllrb.com/">Jekyll</a> and is hosted <a href="https://pages.github.com">free on Github</a>. The domain is registered at godaddy. I use MailerLite to send posts to email subscribers. You can subscribe <a href="https://app.mailerlite.com/webforms/landing/n6x6c2">here</a>.</p>
<p> I don&#39;t like site-comments so that won’t be happening here. If you would like to discuss something with me you can contact me directly.<a href="http://hetus.net/contact.html"> Just click here</a>.</p>


</div>