<header>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="apple-mobile-web-app-capable" content="yes">
<p class="hi">
	Hi, I'm Hetu.</p>
      <p class="whats">Writer. Tech Enthusiast. Traveler. Photographer. Thinker. Story Teller. Student of life.</p>   
      <div class="topNav">
        <ul>
          <li><a href="/index.html">Home </a></li>
         <li><a href="/articles.html">Articles</a></li>
	      <li><a href="/comics.html">Comics</a></li>
	      <li><a href="/gear.html">My  Gear</a></li>
          <li><a href="/about.html">About</a></li>
	      <li><a href="/contact.html">Contact</a></li>
		  <li><a href="/subscribe.html">Subscribe</a></li>
          <li><a href="/Stuff-I-Liked-This-Week.html">Stuff I liked this week</a></li>
          
        </ul>
</header>


