

<div id ="articleText">
	<br>
	<p>If you would like to read what I write/draw and would not like to miss out, you can choose either of the following routes:</p>

<ul>
	<li><img style=' display: inline-block;  position:relative; width:15px; height:15px; margin-bottom: -5px;' src="images/rss-icon.svg">  <a href="http://feeds.feedburner.com/BlogOfHetuAshara">RSS feed </a> - This is my favourite way to follow sites I like. No advertisements. No need to bookmark. No need to remember urls. No need to remember to go and visit website every day/week. Just add this <a href="http://feeds.feedburner.com/BlogOfHetuAshara">RSS feed </a>in your RSS reader of your choice and you are all set to receive the goodness.<br>
<a href='https://feedly.com'  target='blank'>Feedly</a> - If you are using Feedly for your RSS, just <a href='https://feedly.com/#subscription/feed/http://feeds.feedburner.com/BlogOfHetuAshara'  target='blank'>click here</a>.</li><br>
	<li><img style=' display: inline-block;  position:relative;width:15px; height:15px; margin-bottom: -5px;' src="images/twitter-icon.svg">  <a href="https://twitter.com/hetuashara">Twitter</a> - If you religiously complete your twitter timeline then you can follow me @hetuashara on <a href="https://twitter.com/hetuashara"> twitter</a>. I will be tweeting links to new posts as soon as they are posted on the blog.</li><br>
	<li><img style=' display: inline-block;  position:relative;width:15px; height:15px; margin-bottom: -5px;' src="images/ban-icon.svg">  Facebook - Nope.</li><br>
	<li><img style=' display: inline-block;  position:relative;width:15px; height:15px; margin-bottom: -5px;' src="images/email-icon.svg">  <a href="http://eepurl.com/beT0CL">Email subscribe</a> - You can subscribe to receive new posts in your inbox by <a href="http://eepurl.com/beT0CL">clicking here</a>.</li><br>
	<li><img style=' display: inline-block;  position:relative;width:15px; height:15px; margin-bottom: -5px;' src="images/alarm-icon.svg">  Setting alarm to check the website everyday for new posts - not highly recommended. But I will highly appreciate it if you would do this. </li>
</ul>


</div>