

<div id ="articleText">
	<br>
	<p>If you would like to read what I write/draw and would <strong>not</strong> like to miss out, you can choose either of the following routes:</p>

<ul>
	<li>RSS - This is my favourite way to follow sites I like. No advertisements. No need to bookmark. No need to remember urls. No need to remember to go and visit website every day/week. Just add RSS feed in your RSS reader of your choice and you are all set to receive the goodness. </li>
	<li>Twitter handle - If you religiously complete your twitter timeline then you can follow me (@hetuashara) on twitter. I will be tweeting links to new posts as soon as they are posted on the blog.</li>
	<li>Facebook - No facebook. Facebook asks for money to reach people. That makes me hate Facebook. You should too.</li>
	<li>Email newsletter - You can subscribe to the weekly newsletter.</li>
	<li>Setting alarm to check the website everyday for new posts - not highly recommended. But I will highly appreciate it if you would do this. </li>
</ul>


</div>