

<div id ="articleText">
	<br>
	<p>If you would like to read what I write/draw and would <strong>not</strong> like to miss out, you can choose either of the following routes:</p>

<ul>
	<li>RSS - This is my favourite way to follow sites I like. No advertisements. No need to bookmark. No need to remember urls. No need to remember to go and visit website every day/week. Just add RSS feed in your RSS reader of your choice and you are all set to receive the goodness. </li>
	<li>Twitter handle - If you religiously complete your twitter timeline then you can <a href="https://twitter.com/hetuashara">follow me (@hetuashara) on twitter</a>. I will be tweeting links to new posts as soon as they are posted on the blog.</li>
	<li>Facebook - No facebook. Facebook asks for money to reach people. That makes me hate Facebook. You should too.</li>
	<li>Email newsletter - You can subscribe to the weekly newsletter.
		<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us10.list-manage.com","uuid":"af8534ca2ee9b4939eebddb24","lid":"07d083c6e6"}) })</script>

	</li>
	<li>Setting alarm to check the website everyday for new posts - not highly recommended. But I will highly appreciate it if you would do this. </li>
</ul>


</div>