<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2015-02-19-My-Trek-of-Nag-Tibba.markdown</string>
		</array>
		<array>
			<string>2015-02-19-Wallet-vs-food.markdown</string>
		</array>
		<array>
			<string>2015-02-20-Parenthood-Sacrifice.markdown</string>
		</array>
		<array>
			<string>2015-02-20-Walmart-shenanigans.markdown</string>
		</array>
		<array>
			<string>2015-02-21-gym-time.markdown</string>
		</array>
		<array>
			<string>2015-02-21-preference-for-potential.markdown</string>
		</array>
		<array>
			<string>2015-02-22-Stuff-I-liked-this-week.markdown</string>
		</array>
		<array>
			<string>2015-02-29-Stuff-I-liked-this-week.markdown</string>
		</array>
		<array>
			<string>2015-02-23-cinema-anthem.markdown</string>
		</array>
		<array>
			<string>2015-02-24-clickbait-knowledge.markdown</string>
		</array>
		<array>
			<string>2015-02-25-Keep-banging-your-head.markdown</string>
		</array>
		<array>
			<string>2015-02-26-the-moulders.markdown</string>
		</array>
		<array>
			<string>2015-02-27-diaper-vs-potty-training.markdown</string>
		</array>
		<array>
			<string>2015-03-01-Stuff-I-liked-this-week.markdown</string>
		</array>
		<array>
			<string>2015-03-02-Seriousness-Breakers.markdown</string>
		</array>
		<array>
			<string>2015-03-03-scrolling-versus-clicking.markdown</string>
		</array>
		<array>
			<string>2015-03-08-Stuff-I-liked-this-week.markdown</string>
		</array>
		<array>
			<string>2015-03-15-Stuff-I-liked-this-week.markdown</string>
		</array>
	</array>
	<key>userIconName</key>
	<string>Character</string>
</dict>
</plist>
