<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2015-02-19-My-Trek-of-Nag-Tibba.markdown</string>
		</array>
		<array>
			<string>2015-02-19-Wallet-vs-food.markdown</string>
		</array>
		<array>
			<string>2015-02-20-Parenthood-Sacrifice.markdown</string>
		</array>
		<array>
			<string>2015-02-20-Walmart-shenanigans.markdown</string>
		</array>
		<array>
			<string>2015-02-21-gym-time.markdown</string>
		</array>
		<array>
			<string>2015-02-21-preference-for-potential.markdown</string>
		</array>
		<array>
			<string>2015-02-22-Stuff-I-liked-this-week.markdown</string>
		</array>
		<array>
			<string>2015-02-29-Stuff-I-liked-this-week.markdown</string>
		</array>
	</array>
	<key>userIconName</key>
	<string>Character</string>
</dict>
</plist>
